<h1>Doctor <%= @doctor.name %>'s Show page</h1>

<div id='info'>
  <h3>Basic info</h3>
  <p><b>Name: </b><%= @doctor.name %></p>
  <p><b>Specialty: </b><%= @doctor.specialty %></p>
  <p><b>University: </b><%= @doctor.university %></p>
  <p><b>Hospital: </b><%= @doctor.hospital.name %></p>
</div>

<div id='patients'>
  <h3>Patients</h3>
  <% @doctor.appointments.each do |appointment| %>
    <div id="patient<%= appointment.patient.id %>">
      <p>
        <%= appointment.patient.name %>
        <%= button_to 'Remove', appointment_path(appointment), method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>
</div>